* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: white;
  color: black;
}
.header .header__navbar {
  justify-content: space-between;
  padding: 10px 0;
}
.header__logo {
  font-size: 30px;
  font-weight: bold;
}
.header__list {
  gap: 20px;
}
.header__item {
  padding: 4px 0;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.header__item:hover {
  border-color: skyblue;
  color: skyblue;
}
.header__item--close {
  font-size: 20px;
  color: red;
  display: none;
  cursor: pointer;
}
.header__hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: white;
}
.header__hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 2px;
}

@media (max-width: 500px) {
  .header__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    background: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px skyblue;
    transition: 0.5s;
  }
  .header__hamburger {
    display: flex;
  }
  .header__show__list {
    left: 0;
  }
  .header__item--close {
    position: absolute;
    display: block;
    color: white;
    top: 15px;
    right: 20px;
  }
  .header__show__left {
    left: -100%;
  }
}